html {
  box-sizing: border-box;
  background-color: #ccc;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

hgroup {
  width: 16rem;
  padding: .2rem .5rem 0;
}

h2 {
  text-align: center;
  margin-top: 2rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .1rem 1rem 1.5rem;
}

img {
  width: 5rem;
  margin-right:1.5rem;
}

a {
  background-color: #444;
  text-decoration: none;
  color: #ccc;
  padding: .5rem 1rem .6rem;
}

a:hover {
  color: #00f;
}
