html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  background-color: #ccc;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

 h2 {
  text-align: center;
}

li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1.5rem;
}

img {
  width: 15%;
}
